.stat-card {
  background: white;
  border-radius: 20px;
  padding: 22px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.04);
  cursor: pointer;
  border-bottom: 4px solid #f07c1f;
}

.stat-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.stat-left {
  margin-top: 18px;
}
.stat-left h2 {
  font-size: 34px;
  font-weight: 800;
  color: #3b414c;
}

.stat-left p {
  font-size: 14px;
  color: #3d424c;
  display: flex;
  align-items: center;
  gap: 6px;
}

.stat-right {
  width: 55px;
  height: 55px;
  background: rgba(240, 124, 31, 0.1);
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
