.stat-card {
  background: white;
  border-radius: 20px;
  padding: 38px 24px 22px 24px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.04);

  border-bottom: 4px solid #f07c1f;
}

.stat-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.stat-middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.stat-middle span {
  font-size: 25px;
  font-weight: 800;
  color: #3b414c;
  white-space: nowrap;
}
.stat {
  width: 55px;
  height: 55px;
  background: rgba(240, 124, 31, 0.1);
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stat-right {
  display: flex;
  align-items: center;
  gap: 6px;
}

.stat-right p {
  margin: 0px;
  font-size: 14px;
  color: #3d424c;
  white-space: nowrap;
}
