.log-table {
  background: white;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.04);
}

.log-table-header {
  padding: 20px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.log-table-header h3 {
  font-size: 18px;
  font-weight: 700;
  color: #3b414c;
  display: flex;
  align-items: center;
  gap: 5px;
}

.log-table-actions {
  display: flex;
  gap: 12px;
}

.log-btn-outline {
  background: transparent;
  border: 1.5px solid #f07c1f;
  padding: 8px 15px;
  border-radius: 10px;
  color: #f07c1f;
  font-weight: 600;
  font-size: 13px;
  cursor: pointer;
  font-family: "Tajawal", sans-serif;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  gap: 5px;
}

.log-btn-outline:hover {
  background: #f07c1f;
  color: white;
}

.log-table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  min-width: 650px;
}

th {
  text-align: center;
  padding: 16px 24px;
  background: #f0f1f3;
  font-weight: 700;
  font-size: 14px;
  color: #3d424c;
  white-space: nowrap;
}

td {
  align-self: center;
  text-align: center;
  padding: 16px 24px;
  font-size: 14px;
  font-weight: 700;
  color: #3b414c;
  transition: background 0.2s;
}

tr:hover td {
  background: #f0f1f3;
}

.log-no-requests {
  text-align: center;
  font-size: 18px;
  color: #b8bcbf;
  width: 100%;
  padding-bottom: 25px;
}

.log-table .log-open-btn {
  padding: 9px 12px;
  background: #2196f3;
  border: none;
  border-radius: 12px;
  color: white;
  font-family: "Tajawal", sans-serif;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  box-shadow: 0 4px 15px rgba(33, 150, 243, 0.3);
  white-space: nowrap;
}
.log-table-action {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
.log-table .log-open-btn:hover {
  background: #1976d2;
  transform: translateY(-3px);
  box-shadow: 0 8px 25px rgba(33, 150, 243, 0.4);
}
.page {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.log-table-footer {
  padding: 20px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Tajawal", sans-serif !important;
}

.user-info-td {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.log-type {
  padding: 2px 12px;
  border-radius: 20px;
  display: inline-block;
}

.log-type.first_payment {
  background: rgba(240, 124, 31, 0.1);
  color: #f07c1f;
}
.log-type.second_payment {
  background: rgba(33, 150, 243, 0.1);
  color: #2196f3;
}
.log-type.final_payment {
  background: rgba(76, 175, 80, 0.1);
  color: #4caf50;
}
.log-type.release {
  background: rgba(243, 33, 47, 0.1);
  color: #f32125;
}
