.Dashboard {
  height: 100vh;
  overflow: hidden;
  display: flex;
}
.body {
  overflow-y: auto;
  height: 100vh;
  width: 100%;
}
.main-content {
  border-radius: 16px;
  padding: 10px 15px;
  border-radius: 16px;
}

.loading-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
