.top-bar {
  background: white;
  border-radius: 20px;
  padding: 16px 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.04);
  direction: rtl;
}

.title h1 {
  font-size: 24px;
  font-weight: 800;
  color: #3b414c;
}

.title h1 span {
  color: #f07c1f;
}

.title p {
  font-size: 14px;
  color: #3d424c;
  margin-top: 6px;
}

.user-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.notification {
  position: relative;
  background: #f0f1f3;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.notification-badge {
  position: absolute;
  top: -3px;
  right: -3px;
  background: #f07c1f;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}

.user-card {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 46px;
  background: #f0f1f3;
  padding: 10px 10px 10px 15px;
  border-radius: 50px;
  cursor: pointer;
}

.user-card span {
  font-weight: 600;
  color: #3b414c;
}
