.engineer-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 10px 8px;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  border-bottom: 3px solid #f5f5f6;
}

.engineer-item:hover {
  background: #f8f9fc;
}
.D-left {
  display: flex;
  align-items: center;
  gap: 5px;
}
.engineer-item .info .name {
  font-size: 14px;
  font-weight: 600;
  color: #0f1f2f;
}

.engineer-item .info .specialty {
  font-size: 12px;
  color: #b8bcbf;
}

.engineer-item input[type="radio"] {
  width: 16px;
  height: 16px;
}
.engineer-item input[type="radio"]:checked {
  accent-color: #f07c1f;
  color: #f07c1f;
}

.engineer-item.selected {
  background: rgba(240, 124, 31, 0.06);
  border-color: #f07c1f;
}
