@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(30px) scale(0.95);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.userpayment-close-btn {
  width: 30px;
  height: 30px;
  border: none;
  background: #f5f5f5;
  color: #999;
  cursor: pointer;
  border-radius: 50%;
  font-size: 16px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userpayment-close-btn:hover {
  background: #e53935;
  color: white;
}

.userpayment-section {
  margin-bottom: 28px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.userpayment-section:last-child {
  margin-bottom: 0;
}

.userpayment-section-title {
  font-size: 15px;
  font-weight: 700;
  color: #b8bcbf;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 3px;
  padding-bottom: 8px;
  border-bottom: 1px solid #f0f1f3;
}

.userpayment-detail-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6px 45px;
}

.userpayment-detail-item {
  display: flex;
  align-items: center;
  padding: 4px 0;
}

.userpayment-detail-item .userpayment-label {
  color: #b8bcbf;
  flex-shrink: 0;
  font-size: 14px;
  padding: 0px 8px;
}

.userpayment-detail-item .userpayment-value {
  color: #0f1f2f;
  font-size: 14px;
  font-weight: 500;
}

.userpayment-status-badge {
  padding: 1px 14px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
}

.userpayment-status-badge.paid {
  background: rgba(76, 175, 80, 0.1);
  color: #4caf50;
}

.userpayment-status-badge.pending {
  background: rgba(240, 124, 31, 0.1);
  color: #f07c1f;
}

.userpayment-status-badge.released {
  background: rgba(229, 57, 53, 0.1);
  color: #e53935;
}

.userpayment-detail-materials {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
}

.userpayment-detail-materials .userpayment-material-item {
  background: #f8f9fc;
  border: 1px solid #f0f1f3;
  border-radius: 10px;
  padding: 10px 12px;
  text-align: center;
}

.userpayment-detail-materials .userpayment-material-item .userpayment-name {
  color: #0f1f2f;
  font-weight: 500;
  font-size: 15px;
}

.userpayment-detail-materials .userpayment-material-item .userpayment-price {
  color: #4caf50;
  font-weight: 500;
  font-size: 14px;
  margin-top: 4px;
}
